@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=PT+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    border: none;
   }

   body {
    font-family: "Nunito", "sans-serif";
    font-weight: 300;
    color:  black;
    background-color: white;
    }
/* Header */
.home {
    height: 200px;
    
    width: 100%;
}
.page-header{
        height: 200px;
        
    }

    /* Navbar */
    .text-center{
        text-align: center;
    }

    #navbar {
    
        font-size: 115%;
        letter-spacing: 3px;
    }
    
    #navbar li {
       display: inline;
        list-style-type: none;
        margin-right: 35px;
    }
    
    #navbar a {
        text-decoration: none;
        color: #0892D0 ;
    }
    #navbar a:hover {
        box-shadow: inset 100px 0 0 0 #ADD8E6 ;
        
    }

    /* hero Image */

    #hero-image {
        height: 600px;
        width:100%;
        background:url('images/light-dumb.jpg') no-repeat center center;
        background-size: 80%;
    }