@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=PT+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    border: none;
   }

   body {
    font-family: "Nunito", "sans-serif";
    font-weight: 300;
    color:  black;
    background-color: white;
    }
/* Header */
.home {
    height: 200px;
    
    width: 100%;
}
.page-header{
        height: 200px;
        
    }

    /* Navbar */
    .text-center{
        text-align: center;
    }

    #navbar {
    
        font-size: 115%;
        letter-spacing: 3px;
    }
    
    #navbar li {
       display: inline;
        list-style-type: none;
        margin-right: 35px;
    }
    
    #navbar a {
        text-decoration: none;
        color: #0892D0 ;
    }
    #navbar a:hover {
        box-shadow: inset 100px 0 0 0 #ADD8E6 ;
        
    }

    /* hero Image */

    #hero-image {
        height: 600px;
        width:100%;
        background:url('images/light-dumb.jpg') no-repeat center center;
        background-size: 80%;
    }

    /* About */
    
    .container-0{
        display:flex;
        align-items: center;
     justify-content: center;
     margin-top: 30px;
      }

        .container-1{
          display:flex;
          align-items: center;
          justify-content: space-between;
        }

          .container-2{
            display:flex;
        justify-content: space-between;}

           

                .box-1{
margin-left: 60px;
                }
                .box-2{
                    background-image: url('images/kettlebell.jpeg') ;
                    height: 400px;
                    width: 400px;
                    border-radius: 50%;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
                .box-3{
                    margin-right :60px; 
                }
                .box-4{
                    margin-left: 60px;
                }
                .box-5{
                 
                }
                .box-6{
                    margin-right: 60px;
                }
                /* Packages */
                .packages-h{
                    display:flex;
                    align-items: center;
                 justify-content: center;
                 margin-top: 30px;
                }
                .packages-c{
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                }

            .column-1{

            }
            .column-2{
                
            }
            .column-3{
                
            }

    /* Footer */
     /* footer */
     .social-icons {
        text-align: center;
   }

    .social-icons > li{
     display: inline;
    }

    .social-icons i {
        font-size: 150%;
        padding: 3%;
        color: #0892D0 ;
   }
   
   .social-icons  a:hover {
    border-bottom: 1px solid  #0892D0;}
